<footer class="bg-primary-light py-5">
  <div class="container">
    <div class="row">
      {{ with site.Params.social }}
      <div class="col-12 text-center mb-5">
        <ul class="social-links is-circled list-unstyled list-inline font-weight-500">
          {{ range . }}
          <li class="list-inline-item"><a href="{{.link}}" title="{{.title}}">
            <i class="icon {{.icon}}"></i> {{.title}}
          </a></li>
          {{ end }}
        </ul>
      </div>
      {{ end }}


      {{ if not .IsHome }}
      {{ if site.Params.subscription.enable }}
      <div class="newsletter-block mx-auto mb-5">
        <h5 class="h4 mb-2 text-center font-primary">{{ i18n `subscribe_title` }}</h5>
        <p class="newsletter-block-body text-center">{{ i18n `subscribe_body` }}</p>
        {{ partial "subscribe-form.html" (dict "id" "footer" "variant" "default") }}
      </div>
      {{ end }}
      {{ end }}

      <div class="col-12 text-center">
        <p class="mb-0 font-weight-500">{{site.Params.copyright | markdownify}}</p>
        <p class="mb-0 small mt-2">
          <a href="{{ "privacy-policy" | relLangURL }}">{{ i18n `privacy` }}</a>
          <span class="mx-2">&middot;</span>
          <a href="{{ "terms-conditions" | relLangURL }}">{{ i18n `terms` }}</a>
        </p>
      </div>
    </div>
  </div>
</footer>